@charset "UTF-8";

/* profile */
.profile {
  padding-bottom: 100px;
}

.profile__inner {
  display: flex;
  flex-direction: column;
  padding-inline: 30px;
}

.profile__name {
  margin-bottom: 24px;
  text-align: center;
  font-size: 1.6rem;
}

.profile__description {
  margin-bottom: 38px;
  font-size: 1.3rem;
  line-height: 2.15;
}

.profile__text .sns-list {
  justify-content: flex-end;
}

.profile__text .sns-list__item:last-of-type {
  margin-right: 8px;
}

.profile__block {
  position: relative;
  order: -1;
  margin-top: 120px;
  margin-bottom: 50px;
}

.profile__images {
  position: relative;
}

.profile__image {
  position: relative;
  margin-inline: auto;
  width: 80%;
}

.profile__image::after {
  position: absolute;
  content: "";
  left: 20px;
  bottom: -20px;
  z-index: -1;
  width: 100%;
  height: 100%;
  opacity: 0.8;
  background-image: url(../images/about/about_yuka-kanno.webp);
  background-size: contain;
  filter: blur(25px);
  transform: translateZ(0);
}

.profile__circle {
  position: absolute;
  top: -30px;
  right: 0;
  z-index: 1;
  width: 20vw;
}

.profile__circle img {
  animation: rotateCircle 20s linear infinite;
}

@media(min-width: 768px) {
  .profile {
    padding-bottom: 150px;
  }

  .profile__inner {
    margin-inline: auto;
    padding-inline: 40px;
    max-width: 1160px;
  }

  .profile__name {
    margin-bottom: 38px;
    font-size: 1.8rem;
  }

  .profile__text {
    margin-inline: auto;
    max-width: 630px;
  }

  .profile__description {
    margin-bottom: 54px;
    font-size: 1.5rem;
    line-height: 2.57;
  }

  .profile__text .sns-list__item:last-of-type {
    margin-right: 0;
  }

  .profile__block {
    margin-top: 210px;
    margin-bottom: 90px;
  }

  .profile__images {
    margin-inline: auto;
    max-width: 630px;
  }

  .profile__circle {
    width: 126px;
    top: -30px;
    right: -80px;
  }

  .profile__image {
    width: 100%;
  }

  .profile__image::after {
    left: 30px;
    bottom: -30px;
  }
}


/* biography */
.biography {
  position: relative;
  padding-top: 100px;
  min-height: 100dvh;
  min-height: 100vh;
  background-color: var(--black);
  color: var(--white);
}

.biography__inner {
  padding-inline: 30px;
}

.biography__wrapper {
  margin-bottom: 46px;
}

.biography__container {
  position: relative;
  width: 100%;
  height: 285px;
}

.biography__list {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  gap: 90px;
}

.biography__item {
  position: relative;
  z-index: 1;
  width: 240px;
}

.biography__item:last-of-type {
  margin-right: 75px;
}

.biography__date {
  display: inline-block;
  margin-bottom: 20px;
  font-family: var(--main-font);
  font-size: 1.6rem;
  letter-spacing: 0.07em;
}

.biography__title {
  margin-bottom: 48px;
  font-size: 1.6rem;
}

.biography__date,
.biography__title,
.biography__description {
  opacity: 0;
  transform: translateY(15px);
  transition: opacity 1.0s, transform 1.0s;
  transition-timing-function: ease;
}

.biography__list.is-show .biography__date,
.biography__list.is-show .biography__title,
.biography__list.is-show .biography__description {
  opacity: 1;
  transform: translateY(0);
}

.biography__item:first-of-type .biography__date,
.biography__item:first-of-type .biography__title,
.biography__item:first-of-type .biography__description {
  transition-delay: 0.5s;
}

.biography__item:nth-of-type(2) .biography__date,
.biography__item:nth-of-type(2) .biography__title,
.biography__item:nth-of-type(2) .biography__description {
  transition-delay: 0.7s;
}

.biography__item:nth-of-type(3) .biography__date,
.biography__item:nth-of-type(3) .biography__title,
.biography__item:nth-of-type(3) .biography__description {
  transition-delay: 0.9s;
}

.biography__item:nth-of-type(4) .biography__date,
.biography__item:nth-of-type(4) .biography__title,
.biography__item:nth-of-type(4) .biography__description {
  transition-delay: 1.1s;
}

.biography__item:last-of-type .biography__date,
.biography__item:last-of-type .biography__title,
.biography__item:last-of-type .biography__description {
  transition-delay: 1.3s;
}

.biography__dot {
  display: block;
  position: relative;
  width: 10px;
  height: 10px;
  margin-bottom: 44px;
  background-color: var(--white);
  border-radius: 50%;
}

.biography__dot::after {
  position: absolute;
  content: "";
  top: 5px;
  left: 0;
  z-index: -1;
  width: 330px;
  height: 1px;
  background-color: var(--gray);
}

.biography__item:last-of-type .biography__dot::after {
  width: 360px;
}

.biography__description {
  font-size: 1.3rem;
  line-height: 2.7;
}

.biography__bg-text {
  position: absolute;
  bottom: 0;
  margin-left: 6vw;
  font-size: 13.2rem;
  font-weight: 900;
  font-family: var(--main-font);
  white-space: nowrap;
  background: linear-gradient(to bottom, #101010, rgba(255, 255, 255, 0));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media (min-width: 768px) {
  .biography {
    padding-top: 120px;
    padding-bottom: 278px;
  }

  .biography::before {
    width: 45vw;
  }

  .biography__inner {
    margin-inline: auto;
    padding-inline: 40px;
    max-width: 1160px;
  }

  .biography__wrapper {
    margin-bottom: 0;
  }

  .biography__container {
    height: 350px;
  }

  .biography__list {
    gap: 140px;
  }

  .biography__item {
    width: 300px;
  }

  .biography__item:last-of-type {
    margin-right: 120px;
  }

  .biography__date {
    margin-bottom: 24px;
    font-size: 2.0rem;
  }

  .biography__title {
    margin-bottom: 62px;
    font-size: 1.8rem;
  }

  .biography__dot {
    width: 12px;
    height: 12px;
    margin-bottom: 52px;
  }

  .biography__dot::after {
    width: 440px;
  }

  .biography__item:last-of-type .biography__dot::after {
    width: calc(100vw - 440px);
  }

  .biography__description {
    font-size: 1.5rem;
    line-height: 2.5;
  }

  .biography__bg-text {
    margin-left: 29.375vw;
    font-size: 27.0rem;
  }
}


/* strength */
.strength {
  padding-top: 80px;
  padding-bottom: 140px;
}

.strength__inner {
  padding-inline: 30px;
}

.strength__circle {
  margin-bottom: 40px;
}

.strength__circle-inner {
  position: relative;
}

.strength__circle-inner:first-of-type {
  text-align: center;
}

.strength__circle-inner:last-of-type {
  margin-left: -8vw;
}

.strength__circle-inner svg {
  width: 45vw;
  height: 45vw;
  opacity: 0;
  stroke-dasharray: 1165.76904296875px;
}

.strength__circle.is-show .strength__circle-inner svg {
  animation: drawCircle 2.0s cubic-bezier(0.43, 0.05, 0.10, 1) forwards;
}

#circle-1 {
  animation-delay: 0s;
}

#circle-2 {
  animation-delay: 0.3s;
}

#circle-3 {
  animation-delay: 0.6s;
}

.strength__circle-pass {
  fill: none;
  stroke: var(--black);
}

.strength__circle-column {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -14.4vw;
}

.strength__circle-text {
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: 0;
  font-size: 1.2rem;
  transform: translate(-50%, -50%);
  transition: opacity 2.8s ease;
}

.strength__circle.is-show .strength__circle-text {
  opacity: 1;
}

.strength__circle-text--1 {
  transition-delay: 0.3s;
}

.strength__circle-text--2 {
  transition-delay: 0.6s;
}

.strength__circle-text--3 {
  transition-delay: 0.9s;
}

.strength__item:not(:last-of-type) {
  margin-bottom: 80px;
}

.strength__number {
  display: block;
  position: relative;
  margin-bottom: 24px;
  padding-bottom: 14px;
  font-size: 1.2rem;
}

.strength__number::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: var(--black);
}

.strength__block {
  transition-delay: 0.3s;
}

.strength__title {
  margin-bottom: 30px;
  height: 100%;
  font-size: 3.0rem;
  font-family: var(--main-font);
  letter-spacing: 0.02em;
  transition-delay: 0.3s;
}

.strength__description {
  font-size: 1.3rem;
  line-height: 2;
  transition-delay: 0.5s;
}

@media (min-width: 768px) {
  .strength {
    padding-top: 140px;
    padding-bottom: 200px;
  }

  .strength__inner {
    margin-inline: auto;
    padding-inline: 40px;
    max-width: 1160px;
  }

  .strength__circle {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 70px;
  }

  .strength__circle-inner:first-of-type {
    margin-right: -30px;
  }

  .strength__circle-inner:last-of-type {
    margin-left: 0px;
  }

  .strength__circle-inner svg {
    width: 100%;
    height: 100%;
  }

  .strength__circle-column {
    margin-top: 0;
  }

  .strength__circle-text {
    font-size: 1.8rem;
  }

  .strength__item:not(:last-of-type) {
    margin-bottom: 100px;
  }

  .strength__block {
    display: flex;
    justify-content: space-between;
  }

  .strength__number {
    font-size: 1.4rem;
  }

  .strength__title {
    margin-bottom: 0;
    font-size: 5.0rem;
  }

  .strength__description {
    width: 55%;
    max-width: 627px;
    font-size: 1.5rem;
  }
}


/* footer */
.footer--about {
  padding-bottom: 30px;
  background-color: var(--bg-color);
}

.footer--about .footer__link {
  color: var(--black);
}

@media (min-width: 768px) {
  .footer--about {
    padding-bottom: 40px;
  }
}


@keyframes drawCircle {
  0% {
    opacity: 0;
    stroke-dashoffset: 1165.76904296875px;
  }
  100% {
    opacity: 1;
    stroke-dashoffset: 0px;
  }
}
